anthropic
google-genai>=0.1.0
mistralai>=1.0.0
openai
pyGithub
streamlit>=1.40
python-dotenv
groq
tiktoken
tornado>=6.4.2 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
