anthropic
google.generativeai
mistralai<=1.0.0
openai
pyGithub
streamlit
python-dotenv
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability